.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.caja{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 500px;
    padding: 10px;
}
.box3{
    
    display: flex;
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
a:hover{
    color: #ffd369;
}
