.box1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.bread{
    
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
a:hover{
    color: #ffd369;
}
.father{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-top: 30px;
  
}
.product{
    display: flex;
}
.product:hover{
    color:#ffd369;
    cursor: pointer;
}
.res{
    display: flex;
    height: 500px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.one{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 430px;
    height: 430px;
    margin: 10px;
}