.contentL{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.containerText{
    margin-left: 3%;
    width: 45%;
    align-content: center;
}
h1{
    margin-left: 20px;
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-left: 20px;
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    margin-left: 20px;
    margin-bottom: 50px;
    width: 70%;
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.contentImg{
    width: 50%;
    align-content: center;
}
.imagen{
    width: 100%;
    height: 80%;
}
.contentIn{
    margin-top: 50px;
    width:30%;
    align-content: center;
    text-align: center;
}
.imgIn{
    width: 100px;
    height: 100px;
}
.txt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}